@model TechParvaLEAO.Areas.Expense.Models.BusinessActivity

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Business Activity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" id="masters_form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsVOC" /> @Html.DisplayNameFor(model => model.IsVOC)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="BusinessUnitid" class="control-label"></label>
                <select asp-for="BusinessUnitid" class="form-control" asp-items="ViewBag.BusinessUnitid"></select>
                <span asp-validation-for="BusinessUnitid" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Deactivated" /> @Html.DisplayNameFor(model => model.Deactivated)
                </label>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section scripts {
    <script src="~/js/confirm_submit.js"></script>
}

