@{
    ViewData["Title"] = "Timesheet Reports";
}
<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Timesheet Reports</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                <thead>
                                    <tr>
                                        <th>Sr No.</th>
                                        <th rowspan="2">Reports</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Employee Daily Timesheet Report</td>
                                        <td><a href="/Reports/TimesheetReports/TimesheetEntriesReport">View</a></td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Location Overtime Report</td>
                                        <td><a href="/Reports/TimesheetReports/LocationOvertimeReport">View</a></td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Location Overtime Payment Report</td>
                                        <td><a href="/Reports/TimesheetReports/LocationOvertimePaymentReport">View</a></td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Employee Worked Hours Report</td>
                                        <td><a href="/Reports/TimesheetReports/EmployeeWeeklyWorkedHoursReport">View</a></td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>Employee Weekly Overtime Report</td>
                                        <td><a href="/Reports/TimesheetReports/EmployeeWeeklyOTReport">View</a></td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>Timesheet Print</td>
                                        <td><a href="/Reports/TimesheetReports/TimesheetPrintReport">View</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
