@{
    ViewBag.Title = "Editor";
}

<h2>Editor</h2>

@using(Html.BeginForm("Editor","Index"))
{ 
<div>
    @Html.TextArea("query")
    <button type="submit">Go</button>

  @*  @Html.ActionLink("Back to List", "Editor")*@

</div>
}

@if(ViewBag.Result != null)
{
    <div>
        @Html.Raw(ViewBag.Result)
    </div>
}