Content-Type: text/html; charset=utf-8
@{
    Layout = null;
}
@model TechParvaLEAO.Models.NotificationEmailViewModel
@using System.Globalization


Dear @Model.EmployeeDataList[0].Name   ,<br />
<br />
 
As requested, Please find the reset password link below.

<br />

<a href="@Model.AcceptButtonUrl">Reset Password</a>


<br />

 
<br />
    Best Regards