Content-Type: text/html; charset=utf-8
@{
    Layout = null;
}
@model TechParvaLEAO.Models.NotificationEmailViewModel
@using System.Globalization


Dear  @Model.LeaveRequestData.Employee -@Model.LeaveRequestData.EmployeeCode ,<br />
<br />
Your Half day @if (Model.LeaveRequestData.IsHalfDay)
{<span>Yes</span>}
else
{<span>No</span>} leave application for the period
@Model.LeaveRequestData.FromDate.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture) to
@Model.LeaveRequestData.ToDate.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture) has been submitted successfully and sent to your Reporting Manager @Model.LeaveRequestData.ReportingManager for approval.
<br />
<br />
    Best Regards