@using TechParvaLEAO.Areas.Organization.Models.ViewModels
@model AssignReportingManagerViewModel
@{
    ViewData["Title"] = "Assign Reporting Manager";
}

<h1>Assign Reporting Manager</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="AssignReportingManager" method="post" id="masters_form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OldReportingToId" class="control-label"></label>
                <select asp-for="OldReportingToId" class="form-control" asp-items="ViewBag.OldReportingToId"></select>
                <span asp-validation-for="OldReportingToId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewReportingToId" class="control-label"></label>
                <select asp-for="NewReportingToId" class="form-control" asp-items="ViewBag.OldReportingToId"></select>
                <span asp-validation-for="NewReportingToId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


