@model TechParvaLEAO.Areas.Organization.Controllers.MasterData.ChangePasswordViewModel

<h2>Change Password</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="UserId" type="hidden" />
            <div class="form-group">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control"  readonly/>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div>
                <p class="alert-info">                    
                    Passwords must be at least 9 characters.<br/>
                    Passwords must have at least one non alphanumeric character.<br />
                    Passwords must have at least one digit ('0'-'9').<br />
                    Passwords must have at least one uppercase ('A'-'Z').<br />
                </p>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</div>