<footer class="app-footer d-print-none">
    <div>
        <a href="https://www.cotecna.com/">Cotecna</a>        
    </div>
    <div class="ml-auto">All rights reserved Cotecna Inspection India Pvt Ltd</div>
</footer>

